/* Let's load some fonts */

/* Add maven for code font (keep other xaringan defaults */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Inconsolata', monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }


/*
CSS for xaringan slides in RU flavor
Author: Joseph V. Casillas
Updated: 03/06/2018
*/

/* Package defaults that we slightly tweak */

a, a > code {
  color: #cc0033; /* rgb(249, 38, 114) */
  text-decoration: none;
}

/* slightly lower and bigger than default */
.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

/* important code slightly red */
.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

/* color tweak */
.inverse {
  background-color: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

/* slightly spacing change */
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}